<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>06_列表渲染_过滤与排序</title>
</head>
<body>
<!--
1. 列表过滤
2. 列表排序
-->
<div id="demo">
  <input type="text" v-model="searchName">
  <ul>
    <li v-for="(p, index) in filterPersons" :key="p.id">
      {{p.id}}--{{p.name}}--{{p.age}}
    </li>
  </ul>
  <button @click="sortType = 1">年龄升序</button>
  <button @click="sortType = 2">年龄降序</button>
  <button @click="sortType = 0">原本顺序</button>
</div>

<script type="text/javascript" src="../js/vue.js"></script>
<script type="text/javascript">
  let time = Date.now()
  new Vue({
    el: '#demo',
    data: {
      persons: [
        {id: time, name: 'Tom', age: 14},
        {id: time+1, name: 'Jack', age: 12},
        {id: time+2, name: 'Bob', age: 13},
        {id: time+3, name: 'Jerry', age: 15},
        {id: time+4, name: 'Mack', age: 11},
      ],
      searchName: '', // 搜索的名称
      sortType: 0, // 排序的类型, 0: 不排序, 1: 年龄升序, 2: 年龄降序
    },

    computed: {
      filterPersons () {
        // 1. 取出依赖数据
        const {persons, searchName, sortType} = this
        // 2. 计算产生一个新数据
        // 过滤
        const arr = persons.filter(p => p.name.indexOf(searchName)!==-1)

        // 排序
        if (sortType!==0) {
          arr.sort((p1, p2) => { // 返回值大于0, 将p2放在左侧
            if (sortType===1) {
              return p1.age - p2.age
            } else {
              return p2.age - p1.age
            }
          })
        }

        // 3. 返回新数据
        return arr
      }
    },

    methods: {
    }
  })
</script>
</body>
</html>